<div class="row">
  <div class="col-12">
    <div class="">
      <div class="">
        <div class="fs-4 fw-bolder text-blo">{{ title }}</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <div class="">
      <span class="text-blo d-block f-34 f-w-700 my-2">{{ value }}</span>
      <p class="mb-0 fs-4 fw-bold" [class]="trendClass">
        {{ percent }}%
        <i [class]="trendIcon"></i>
      </p>
    </div>
  </div>
  <div class="col-7">
    <div id="chart text-dark">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [yaxis]="chartOptions.yaxis"
        [colors]="chartOptions.colors"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
      ></apx-chart>
    </div>
  </div>
</div>
